*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline: 0 !important;
  outline-style: none; }

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  color: black;
  background-color: #5c5c5c;
  line-height: 1.7;
  outline: none;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400; }

a:link, a:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all .3s; }

a:active {
  transform: scale(1.1); }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */ }

.box-container {
  background-color: #333;
  height: 90vh;
  width: 95vw;
  margin: 5rem 1rem;
  color: lightgray;
  overflow: hidden;
  overflow: scroll;
  padding: 0;
  position: relative; }

.playlist-box {
  position: absolute;
  top: 0.01rem;
  left: 0;
  width: 95vw;
  height: 90vh;
  /* background-color:; */
  padding: 3rem; }
  .playlist-box--slider {
    position: relative;
    transition: all 1s; }
  .playlist-box--title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase; }
  .playlist-box--search {
    position: absolute;
    top: 0rem;
    left: 95vw;
    width: 95vw;
    height: 90vh;
    /* background-color: #121212; */
    padding: 3rem; }

.searchNavBtn {
  cursor: pointer; }

.playlistNavBtn {
  cursor: pointer; }

.shareNavBtn {
  cursor: pointer; }

.card {
  color: black !important; }

.title-text {
  margin: auto;
  font-size: 2.5rem;
  text-transform: capitalize; }

.show-container {
  /* background-color: white; */
  /* height: 90vh;     */
  /* width: 100%; */
  /* margin: 10px auto; */
  margin-top: 5rem;
  color: lightgray;
  /* overflow: hidden; */
  /* overflow: scroll; */
  padding: 0;
  /* position: relative; */
  /* border-radius: 10px; */ }

.box-player {
  padding: 1rem 0; }

.shuttle-buttons {
  margin-top: 2rem; }

.btn-show {
  display: inline-block;
  padding: 8px 30px;
  margin-left: 2rem;
  border-radius: 50px;
  font-weight: 700;
  font-size: medium;
  outline: none;
  -webkit-box-shadow: 0px 5px black;
  box-shadow: 0px 5px black;
  border: none;
  cursor: pointer;
  outline-style: hidden;
  transition: all 0.2s ease;
  background-color: #969696; }

.btn-show:hover {
  cursor: pointer;
  background-color: lime;
  -webkit-box-shadow: 0px 5px #252814;
  box-shadow: 0px 5px #252814;
  transform: scale(1.05); }

.btn-show:active {
  -webkit-box-shadow: 0px 0px #252814;
  box-shadow: 0px 0px #252814;
  /* top:4px; */
  transform: scale(1.05);
  outline-style: hidden;
  border: none;
  transform: translateY(4px); }

.btn-show:visited {
  outline-style: hidden;
  border: none; }

.bth-show:focus {
  outline-style: hidden;
  outline: none !important;
  border: none; }

.song-box--playlist {
  padding: 1rem;
  height: 90vh;
  margin-top: 1rem;
  overflow: hidden;
  overflow: scroll;
  -webkit-box-shadow: inset 1px 6px 13px -2px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: inset 1px 6px 13px -2px rgba(0, 0, 0, 0.69);
  box-shadow: inset 1px 6px 13px -2px rgba(0, 0, 0, 0.69); }

.song-box {
  margin-bottom: 1rem;
  padding: 0;
  height: 9rem;
  width: 100%;
  font-size: 1.2rem;
  color: black;
  background-color: #969696;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid black; }

.song-box--copy {
  padding-top: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis; }

.tally {
  font-weight: 700;
  margin-right: 1rem; }

.active-song {
  background-color: lime !important; }

.search-bar {
  margin-top: 5rem;
  height: 10rem;
  background-color: #333;
  padding: 1rem 3rem;
  color: white; }

.party-box {
  height: 12rem;
  widows: auto;
  background-color: #333;
  color: white;
  margin: 2.2rem;
  text-align: center;
  border-radius: 5px;
  padding-top: 1.3rem; }
  .party-box--title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase; }
  .party-box--btn {
    margin-top: 1rem;
    height: 3rem;
    width: 9rem;
    margin-right: .5rem;
    background-color: #969696;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    color: black;
    -webkit-box-shadow: 0px 5px black;
    box-shadow: 0px 5px black;
    transition: all .2s; }
    .party-box--btn:hover {
      background-color: lime;
      -webkit-box-shadow: 0px 5px #252814;
      box-shadow: 0px 5px #252814;
      transform: scale(1.05); }
    .party-box--btn:active {
      -webkit-box-shadow: 0px 0px #252814;
      box-shadow: 0px 0px #252814;
      /* top:4px; */
      transform: scale(1.05);
      outline-style: hidden;
      border: none;
      transform: translateY(4px); }

.nav-bar {
  position: fixed;
  font-size: 1.5rem;
  color: white;
  z-index: 10;
  background-color: #070707;
  height: 4.5rem;
  padding-top: 1rem;
  width: 101%;
  left: 15px;
  top: 0; }
  .nav-barmenu, .nav-bar ul, .nav-bar li {
    list-style: none;
    display: inline-block;
    padding-right: 1rem;
    transition: all .3s; }
  .nav-bar--hover:hover {
    transform: scale(1.1);
    color: lime; }
  .nav-bar--home-btn {
    text-decoration: none;
    font-size: 1.9rem;
    text-decoration: none; }
  .nav-bar--party-tite {
    text-transform: uppercase; }
