
.search-bar {
    margin-top: 5rem;
    height: 10rem;
    // background-color: $color-dk-grey;
    padding: 2rem 10rem;
    color: $color-white;
    background: -moz-linear-gradient(8deg, rgba(168,0,168,1) 0%, rgba(168,0,168,1) 6%, rgba(255,77,77,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(168,0,168,1)), color-stop(6%, rgba(168,0,168,1)), color-stop(100%, rgba(255,77,77,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(8deg, rgba(168,0,168,1) 0%, rgba(168,0,168,1) 6%, rgba(255,77,77,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(8deg, rgba(168,0,168,1) 0%, rgba(168,0,168,1) 6%, rgba(255,77,77,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(8deg, rgba(168,0,168,1) 0%, rgba(168,0,168,1) 6%, rgba(255,77,77,1) 100%); /* ie10+ */
    background: linear-gradient(82deg, rgba(168,0,168,1) 0%, rgba(168,0,168,1) 6%, rgba(255,77,77,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A800A8', endColorstr='#FF4D4D',GradientType=1 ); /* ie6-9 */
}
.party-box{
    max-height: 35%;
    min-width: 80%;
    background-color: $color-dk-grey;
    color: $color-white;
    margin: 1rem .2rem 0rem 0rem;
    text-align: center;
    // border-radius: 5px;

    padding-top: 1.3rem;
    padding-bottom: 1.3rem;

    &--title{
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        text-transform: capitalize;
    }
    &--btn{
        margin-top: 1rem;
        height: 3rem;
        width: 9rem;
        margin-right: .5rem;
        background-color: $color-lt-grey;
        border: none;
        border-radius: 10px;
        font-weight: 700;
        color: $color-black;
        -webkit-box-shadow: 0px 5px rgb(0, 0, 0); 
        box-shadow: 0px 5px rgb(0, 0, 0);
        transition: all .2s;

        &:hover{
            // cursor: pointer;
            background-color: $color-green;
            -webkit-box-shadow: 0px 5px #252814; 
            box-shadow: 0px 5px #252814;
            transform: scale(1.05);
        }

        &:active{
            -webkit-box-shadow: 0px 0px #252814;
            box-shadow: 0px 0px #252814;
            /* top:4px; */
            transform: scale(1.05);
            outline-style: hidden;
            border: none;
            transform: translateY(4px);
        }

    }
}