
.box-container {
    background-color: #333;
    height: 90vh;
    width: 95vw;
    margin: 5rem 1rem;
    color: lightgray;
    overflow: hidden;
    overflow: scroll;
    padding: 0;
    position: relative;
    // border-radius: 10px;
}


.playlist-box {
    position: absolute;
    top: 0.01rem;
    left: 0;
    width: 95vw;
    height: 90vh;
    /* background-color:; */
    padding: 3rem;

    &--slider{
        position: relative;
        transition: all 1s;
    }

    &--search {
        position: absolute;
        top: 0rem;
        left: 95vw;
        width: 95vw;
        height: 90vh;
        /* background-color: #121212; */
        padding: 3rem;
    }
}



.searchNavBtn {
    cursor: pointer;
}

.playlistNavBtn {
    cursor: pointer;
}

.shareNavBtn {
    cursor: pointer;
}

.card {
    color:black !important;  
}